@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
}

/* HEADER */

#bandeau-superieur {
    background-color: #d00000;
    height: 5vh;
    display: flex;
    align-items: center;
}

.wrapper-bandeau-superieur {
    width: 1000px;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

#container-information-bandeau-superieur a {
    color: white;
    white-space: nowrap;

}

#container-information-bandeau-superieur a:hover {
    text-decoration: underline;
}

#container-information-bandeau-superieur a:first-child {
    margin-right: 20px;
}

#button-devis {
    cursor: pointer;
    white-space: nowrap;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
}

#button-devis:hover {
    outline: 1px solid white;
}

@media screen and (max-width: 1000px) {
    .wrapper-bandeau-superieur {
        width: 90%;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    #button-devis {
        padding: 2px 12px;
        font-size: 10px;
    }



    #container-information-bandeau-superieur a {
        font-size: 13px;
    }
}