@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
}

/* HEADER */

#bandeau-superieur {
    background-color: #d00000;
    height: 5vh;
    display: flex;
    align-items: center;
}

.wrapper-bandeau-superieur {
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-information-bandeau-superieur a {
    color: white;
    white-space: nowrap;

}

#container-information-bandeau-superieur a:hover {
    text-decoration: underline;
}

#container-information-bandeau-superieur a:first-child {
    margin-right: 20px;
}

#button-devis {
    cursor: pointer;
    white-space: nowrap;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
}

#button-devis:hover {
    outline: 1px solid white;
}

@media screen and (max-width: 500px) {
    #button-devis {
        padding: 2px 12px;
        font-size: 10px;
    }


    #container-information-bandeau-superieur a {
        font-size: 13px;
    }
}

#bandeau-inferieur {
    background-color: #000;
    height: 10vh;
    top: 0;
}

.wrapper-bandeau-inferieur {
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.wrapper-bandeau-inferieur div a {
    color: white;
    line-height: 20px;
}

.name {
    font-size: 30px;
    font-weight: 600;
    margin-right: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

@media screen and (max-width: 800px) {
    .menu li {
        margin-right: 0;
    }
}

#first-part {
    position: relative;
    background: url("../img/background_top.jpg") no-repeat center center;
    height: 85vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#container-welcome {
    background-color: rgba(217, 217, 217, 0.8);
    padding: 20px 40px 40px;
    -webkit-box-shadow: -1px 8px 18px 2px #000;
    box-shadow: -1px 8px 18px 2px #000;
    border-radius: 15px;
}

#title {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #d00000;
}

#subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #d00000;
}

#button-formule {
    cursor: pointer;
    transition: 0.3s all;
    border: none;
    background-color: #d00000;
    color: white;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 8px 18px 2px #000;
    box-shadow: -1px 8px 18px 2px #000;
}

#button-formule:hover {
    color: #d00000;
    background-color: white;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    #container-welcome {
        width: 100%;
        border-radius: 0 0 15px 15px;
    }

    #title {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    #title {
        font-size: 30px;
    }

    #subtitle {
        font-size: 15px;
    }

    #button-formule {
        font-size: 15px;
        padding: 5px 30px;
    }
}

#second-part {
    margin-top: 100px;
    background: url("../img/background_code.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 30px;
}

#second-part h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

#second-part h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    #second-part {
        height: 200px;
    }

    #second-part h3 {
        font-size: 30px;
    }

    #second-part h4 {
        font-size: 15px;
    }
}

/* MENU BURGER */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /*border: 2px solid #fff;*/
}

.menu-btn__burger {
    width: 35px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-15px);
}

.menu-btn__burger::after {
    transform: translateY(15px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.active {
    height: 130px !important;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100% !important;
    text-align: center;
    background-color: #000;
    padding-bottom: 10px;
}

@media screen and (min-width: 800px) {
    .menu-btn {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .menu {
        transition: height 0.5s ease-in-out;
        height: 0px;
        width: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
}

/* FIN MENU BURGER */

#third-part {
    margin-top: 100px;
    height: 80vh;
    background: url("../img/background_third.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    transition: all 0.5s;
    width: 410px;
    background-color: rgba(217, 217, 217, 0.6);
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: -1px 8px 18px 2px #000;
}

.card:hover {
    transition: all 0.5s;
    background-color: #D9D9D9;
}

.card h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #d00000;
    margin-bottom: 15px;
    line-height: 26px;
}

.card p {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    #third-part {
        height: auto;
    }

    .container-card {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 50px;
        width: 100%;
    }

    #second-part {
        margin-top: 40px;
    }

    #third-part {
        margin-top: 40px;
    }
}

/* ANIMATION COMPETENCES */

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-460px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-460px * 7));
    }
}

@-webkit-keyframes reversescroll {
    0% {
        transform: translateX(calc(-230px * 7));
    }
    100% {
        transform: translateX(230px);
    }
}

@keyframes reversescroll {
    0% {
        transform: translateX(calc(-460px * 7));
    }
    100% {
        transform: translateX(0);
    }
}

.slider {
    /*background: white;*/
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 100px auto auto;
}


.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.reverse-slide-track {
    -webkit-animation: reversescroll 40s linear infinite;
    animation: reversescroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);

}

.slider .slide {
    height: 100px;
    width: 250px;
}

.slide img {
    width: auto;
}

/* FIN ANIMATION COMPETENCES */

#fourth-part {
    margin-top: 100px;
}